<form>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <h2>Post in your query here!</h2>
                <div class="form-group">

                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Name*" name="name">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Name*" name="name">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">

                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" name="submit" class="btn btn-small btn-theme-color round-5 gs-btn" style="width: 100%">
                    Send
                </button>
            </div>
        </div>
    </div>


</form>