@model Doorserve.Core.Dtos.PageContentModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="section quick-service text-center">
        @if (Model != null)
        {
            @Html.Raw(Model.Description)
        }
        @*<div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Let's Get Started</h3>
                    <p>Have an appliance that needs us <br> to fix it?</p>
                    <a href="#" class="btn btn-default gs-btn gs-btn quick-service-m-t" data-toggle="modal" data-target=".bs-example-modal-sm">REQUEST HERE</a>
                </div>

                <div class="col-sm-4">
                    <h3>We're Community</h3>
                    <p>Keep us posted with tips &amp; tricks.<br> We always love to hear from you.</p>
                    <a href="contact.html" class="btn btn-default gs-btn">CONTACT US</a>
                </div>

                <div class="col-sm-4">
                    <h3>Need Our Help</h3>
                    <p>Want to pay us a visit<br> at our branch near you?</p>
                    <a href="locations.html" class="btn btn-default gs-btn gs-btn quick-service-m-t">VISIT US</a>
                </div>

            </div>


        </div>*@

    </div>